.footer__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 3rem;
}

.footer__top img {
    width: 300px;
}

.footer__middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap
}