.header-logo img{
    width: 150px;
    height: auto;
}

#signIn-btn {
    color: #d35400;
    text-decoration: none;
    font-weight: bold !important;
    background-color: transparent !important;
}
